@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

:root {

  --purple-title: #7C3AED;
  --gray-text: #575361;

  --bg-color: #FBFAFF;
  --card-color: #F3F0FF;
  --card-color-low: #C1B2FA;
  
}
* {

  padding: 0;
  margin: 0;

}
body,html {

  background-color: var(--bg-color);

  min-height: 100vh;

  font-family: 'Inter';
  line-height: 130%;

}
.dark-mode {

  display: flex;
  justify-content: start;
  align-items: center;

}
.dark-mode .dark-mode-div{

  overflow: hidden;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background: #575361;

  border: 2px solid black;
  border-radius: 50px; 

  min-width: 60px;
  height: 32px;

  padding: 0;
  margin: 0;

}
.dark-mode-div.dark-mode-on {

  justify-content: flex-end;

}
.dark-mode i.ph-moon {

  cursor: pointer;
  
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;

}
i.ph-sun {

  border-radius: 50px;

  background-color: yellow;

}
#app {

  min-height: 100vh;

  display: grid;
  place-content: center;

  gap: 20px;

}
.drag-files {

  background-color: var(--card-color);

  transition: background-color 0.3s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-width: 440px;
  max-height: 160px;
  position: relative;
  box-sizing: border-box;

  padding: 28px 0 30px 0;
  border: 1px dashed var(--card-color-low);
  border-radius: 8px;

  text-align: center;

  user-select: none;

  cursor: pointer;

}
@keyframes moveup {
  0% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-10px); 
  }
  100% {
    transform: translateY(0);
  }
}
.drag-files i {

  padding-bottom: 10px;

  width: max-content;
  height: max-content;

}
.drag-files i.ph {

  font-size: 48px;

  color: var(--purple-title);

  animation: moveup 1.5s infinite;
  
}
@keyframes rotate {

  0% {
    transform: rotate(0deg)
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }

}
.drag-files h3 {

  color: var(--purple-title);

  font-size: 16px;
  font-weight: 700;

  animation: rotate 1.5s linear infinite;

}
.drag-files p {

  color: var(--gray-text);

  font-size: 14px;
  font-weight: 400;

}
.drag-files input {

  all: unset;
  opacity: 0;
  inset: 0;
  position: absolute;

}
.drag-files.dragover:hover {

  background-color: var(--card-color-low);

}

/* BOXES */

.launcher-boxes {

  display: grid;

  gap: 12px;

}
.box {

  background-color: var(--card-color);

  display: flex; 

  max-width: 440px;
  min-height: 72px;
  padding: 8px;

  box-sizing: border-box;
  box-shadow: 1px 1px 16px var(--card-color);

}
.upload {

  --file-color: #AC96E4;
  --bg-color: #E9E3F8;
  --progress-color: linear-gradient(90deg, rgba(58, 97, 237, 0.52) 0%, #7C3AED 100%);
  --text-color: #857E95;
  --number-color: #9892A6;

}
.finished {

  --file-color: #73B172;
  --bg-color: #DAF2D9;
  --progress-color: #73B172;
  --text-color: #857E95;
  --number-color: #4E884D;

}
.error {

  --file-color: #E36363;
  --bg-color: #F2D9D9;
  --progress-color: #E3E3ED;
  --text-color: #857E95;
  --number-color: #9892A6;

}
.icon{

  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 56px;
  border-radius: 4px;
  margin-right: 12px;

  background-color: var(--bg-color);

}
.icon i {

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;

  color: var(--file-color);

}
.info {

  padding-right: 16px;

}
.info > p {

  color: var(--gray-text);

  font-weight: 700;
  font-size: 14px;

}
.info > span {

  color: var(--text-color);

  font-weight: 500;
  font-size: 12px;

  margin-bottom: 8px;

}
.bar {

  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;

  position: relative;

}
.info .bar > progress{

  width: 324px;
  height: 8px;

  padding-right: 8px;

  appearance: none;

}
.info .bar ::-webkit-progress-value {

  border-radius: 10px;

  background: var(--progress-color);

}
.info .bar ::-webkit-progress-bar {

  border-radius: 10px;

  background-color: #E3E3ED;

}
.info .bar > span{

  font-size: 12px;
  font-weight: 500;

  color: var(--number-color);

  position: absolute;
  right: -40px;

}