@media (max-width: 2560px) {

  body,html {
    font-size: 180%;
  }

}
@media (max-width: 1440px) {

  body,html {
    font-size: 120%;
  }

}
@media (max-width: 1024px) {

  body,html {
    font-size: 100%;
  }

}
@media (max-width: 912px) {

  body,html {
    font-size: 150%;
  }

}
@media (max-width: 912px) {

  body,html {
    font-size: 120%;
  }

}
@media (max-width: 650px) {

  body,html {
    font-size: 95%;
  }

}
@media (max-width: 500px) {

  body,html {
    font-size: 95%;
  }

}
@media (max-width: 470px) {

  body,html {
    font-size: 85%;
  }

}
@media (max-width: 425px) {

  body,html {
    font-size: 80%;
  }

}
@media (max-width: 375px) {

  body,html {
    font-size: 75%;
  }

}
@media (max-width: 320px) {

  body,html {
    font-size: 65%;
  }

}
@media (max-width: 280px) {

  body,html {
    font-size: 60%;
  }

}